.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/
*.sln
*.vcxproj*

# VST specific
*.vst

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Cmake
Makefile
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
cmake_install.cmake
Debug/
Release/
x64/
Win32/
install_manifest.txt

# Build Tree
/buildx86
/buildx64

Steinberg
