# Build output
build/

# macOS
.DS_Store

# IDEs
.vs/
.vscode/
*.xcworkspace
*.xcuserdata
CMakeSettings.json
CMakeLists.txt.user

# CMake (in case of in-source builds)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled objects and libraries
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# Plugin binaries
*.vst
*.vst3
*.component
*.app
