/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

body.png                PNG                     "images/body.png"
heads.png               PNG                     "images/heads.png"
blue_knob1_4.png        PNG                     "images/blue_knob1_4.png"
free_etc.png            PNG                     "images/free_etc.png"
off_on.png              PNG                     "images/off_on.png"
lefr_right.png          PNG                     "images/lefr_right.png"
slider_new.png          PNG                     "images/slider_new.png"
readout.png            PNG                      "images/readout.png"
